Project1-Node-Red/MQTT-Broker-Mosquitto.json
[
    {
        "id": "5e7853464fdac029",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e81114c06b79f5a9",
        "type": "function",
        "z": "5e7853464fdac029",
        "name": "",
        "func": "POI = context.get(\"POI\");\n\nif(msg.topic==\"POI\"){\n    POI = getNearestPOI(msg.info.x, msg.info.y)\n    \n    noises = getNoises(msg.info.noise, 100);\n    \n    \n    json = {noise : noises, \n            timestamp : msg.info.timestamp, \n            POIRegion : POI.Region,\n            POIName : POI.Name};\n            \n    \n    message = {payload : JSON.stringify(json)}\n    message.payload = message.payload + \"\\n\";\n    \n    return message;\n    \n}\nelse{\n    setMatrix();\n}\n\nfunction setMatrix(){\n    \n    context.set(\"POI\", msg.payload);\n    \n}\n\nfunction getNearestPOI(x, y){\n    \n    d = distance(x, y, POI[0]);\n    p = POI[0];\n    for(c=0; c<POI.length; c++){\n        d1 = distance(x, y, POI[c])\n        if(d1<d){\n            d = d1;\n            p = POI[c];\n        }\n    }\n    \n    return p;\n    \n}\n\nfunction distance(x, y, p){\n    return Math.sqrt(Math.pow(x - p.x, 2) + Math.pow(y - p.y, 2))\n}\n\nfunction getNoises(noises, k){\n    \n    n = [];\n    sum =0;\n    count = noises.length;\n    \n    noises.forEach(e => sum+=e);\n    if((sum/count)>k){\n        return noises;\n    }\n    else{\n        n.push(sum/count);\n        return n;\n    }\n    \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "1a92162f1f6a1ef9",
                "8912cc66f147842a"
            ]
        ]
    },
    {
        "id": "30cd086a896a22e8",
        "type": "csv",
        "z": "5e7853464fdac029",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "e81114c06b79f5a9"
            ]
        ]
    },
    {
        "id": "9ec25bf10237fa2f",
        "type": "inject",
        "z": "5e7853464fdac029",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "fc9c82bf362a1e2b"
            ]
        ]
    },
    {
        "id": "fc9c82bf362a1e2b",
        "type": "file in",
        "z": "5e7853464fdac029",
        "name": "POI-File",
        "filename": "C:\\Users\\franc\\Documents\\MiddlewareTech\\MiddlewareTech2022\\Project1-Node-Red\\POI.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 420,
        "wires": [
            [
                "30cd086a896a22e8"
            ]
        ]
    },
    {
        "id": "069e4471bdf5891d",
        "type": "function",
        "z": "5e7853464fdac029",
        "name": "",
        "func": "\nnoises = [];\n\nfor(i=0; i<6; i++){\n    noises.push(Math.random()*90 + 50);\n}\n\nm = {\n    topic : \"POI\",\n    info : {\n        x:  Math.random()*10000 - 5000,\n        y:  Math.random()*10000 - 5000,\n        noise:  noises,\n        timestamp:  Date.now()\n    }\n};\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "e81114c06b79f5a9"
            ]
        ]
    },
    {
        "id": "c95e41320c0f5f73",
        "type": "inject",
        "z": "5e7853464fdac029",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "069e4471bdf5891d"
            ]
        ]
    },
    {
        "id": "67c5a6222a9baf49",
        "type": "debug",
        "z": "5e7853464fdac029",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 640,
        "wires": []
    },
    {
        "id": "1a92162f1f6a1ef9",
        "type": "debug",
        "z": "5e7853464fdac029",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "ecd0c58b1e96bdc4",
        "type": "inject",
        "z": "5e7853464fdac029",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "bc460d9782c497e9",
        "type": "tcp out",
        "z": "5e7853464fdac029",
        "name": "",
        "host": "tcp://localhost",
        "port": "9999",
        "beserver": "server",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "27b93c8e20667a1d",
        "type": "aedes broker",
        "z": "5e7853464fdac029",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 710,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "27c405a5e407619e",
        "type": "mqtt in",
        "z": "5e7853464fdac029",
        "name": "",
        "topic": "MyTopic",
        "qos": "2",
        "datatype": "auto",
        "broker": "45f8efc546f817c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 580,
        "wires": [
            [
                "05f34a9be2621d9c"
            ]
        ]
    },
    {
        "id": "8912cc66f147842a",
        "type": "mqtt out",
        "z": "5e7853464fdac029",
        "name": "",
        "topic": "MyTopic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "45f8efc546f817c4",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "05f34a9be2621d9c",
        "type": "debug",
        "z": "5e7853464fdac029",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 580,
        "wires": []
    },
    {
        "id": "45f8efc546f817c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tcp://test.mosquitto.org:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]