Project1-Node-Red/MQTT-Test.json
[
    {
        "id": "e42661298d1f82a7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "191d698d0c210e62",
        "type": "aedes broker",
        "z": "e42661298d1f82a7",
        "name": "Broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 830,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6892c0d663d63b1c",
        "type": "mqtt in",
        "z": "e42661298d1f82a7",
        "name": "Subscribe",
        "topic": "Prova",
        "qos": "2",
        "datatype": "auto",
        "broker": "45f8efc546f817c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 640,
        "wires": [
            [
                "b08ea1fa3c03c01c"
            ]
        ]
    },
    {
        "id": "9599316835389c96",
        "type": "mqtt out",
        "z": "e42661298d1f82a7",
        "name": "Publish",
        "topic": "Prova",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "45f8efc546f817c4",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "332190b4f08677e0",
        "type": "inject",
        "z": "e42661298d1f82a7",
        "name": "Message Creation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Prova",
        "payload": "Ciaoooo",
        "payloadType": "str",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "9599316835389c96"
            ]
        ]
    },
    {
        "id": "b08ea1fa3c03c01c",
        "type": "debug",
        "z": "e42661298d1f82a7",
        "name": "Print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "63a37e43bc4e68e2",
        "type": "function",
        "z": "e42661298d1f82a7",
        "name": "",
        "func": "var i = context.get(\"count\");\nvar newMsg;\nif(msg.payload==\"Running\"){\n    var m = context.get(\"msg\");\n    if(i<m.payload.length){\n        newMsg = {payload : m.payload[i]};\n        i++;\n        context.set(\"count\", i);\n        return newMsg;\n    }\n}\nelse{\n    if(i<msg.payload.length){\n        context.set(\"msg\", msg);\n        newMsg = {payload : msg.payload[i]};\n        i++;\n        context.set(\"count\", i);\n        return newMsg;\n    }\n}\nreturn {payload : \"End Of File\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"count\", 0);",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "9599316835389c96"
            ]
        ]
    },
    {
        "id": "a07164a6d91f6a1a",
        "type": "csv",
        "z": "e42661298d1f82a7",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "63a37e43bc4e68e2"
            ]
        ]
    },
    {
        "id": "8b1688a521a69767",
        "type": "inject",
        "z": "e42661298d1f82a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "20e3a373f87d6f9c"
            ]
        ]
    },
    {
        "id": "20e3a373f87d6f9c",
        "type": "file in",
        "z": "e42661298d1f82a7",
        "name": "",
        "filename": "C:\\Users\\franc\\Desktop\\prova.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "a07164a6d91f6a1a"
            ]
        ]
    },
    {
        "id": "18eb716fe75a82de",
        "type": "inject",
        "z": "e42661298d1f82a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Running",
        "payloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "63a37e43bc4e68e2"
            ]
        ]
    },
    {
        "id": "45f8efc546f817c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]