Project1-Node-Red/POI-Generated-Data.json
[
    {
        "id": "e5ba676816adcdd0",
        "type": "tab",
        "label": "POI-Generate-Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "50dd3aed9dcc3133",
        "type": "function",
        "z": "e5ba676816adcdd0",
        "name": "",
        "func": "POI = context.get(\"POI\");\n\nif(msg.topic==\"POI\"){\n    POI = getNearestPOI(msg.payload.x, msg.payload.y);\n\n    noises = getNoises(msg.payload.noise, 100);\n\n    //send multiple noise messages in case an array\n    //of noises is received\n    for (let i = 0; i<noises.length; i++){\n        let message = {};\n        message.x = msg.payload.x;\n        message.y = msg.payload.y;\n        message.key = POI.Name;\n        message.timestamp = msg.timestamp.toString();\n        //asynchronous send otherwise kafka producer\n        //receives only the first one\n        message.payload = noises[i].toString() + \",\" + message.timestamp;\n        node.send(message);\n    }\n    \n    return null;\n    \n}\nelse{\n    setMatrix();\n}\n\nfunction setMatrix(){\n    \n    context.set(\"POI\", msg.payload);\n    \n}\n\nfunction getNearestPOI(x, y){\n    \n    d = distance(x, y, POI[0]);\n    p = POI[0];\n    for(c=0; c<POI.length; c++){\n        d1 = distance(x, y, POI[c])\n        if(d1<d){\n            d = d1;\n            p = POI[c];\n        }\n    }\n    \n    return p;\n    \n}\n\nfunction distance(x, y, p){\n    return Math.sqrt(Math.pow(x - p.x, 2) + Math.pow(y - p.y, 2))\n}\n\nfunction getNoises(noises, k){\n    \n    n = [];\n    sum =0;\n    count = noises.length;\n    \n    noises.forEach(e => sum+=e);\n    if((sum/count)>k){\n        return noises;\n    }\n    else{\n        n.push(sum/count);\n        return n;\n    }\n    \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "182cb7d3fdae3c69"
            ]
        ]
    },
    {
        "id": "616704693c60b333",
        "type": "csv",
        "z": "e5ba676816adcdd0",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "50dd3aed9dcc3133"
            ]
        ]
    },
    {
        "id": "4196f9b94bfbb20b",
        "type": "inject",
        "z": "e5ba676816adcdd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "450282114f18b311"
            ]
        ]
    },
    {
        "id": "450282114f18b311",
        "type": "file in",
        "z": "e5ba676816adcdd0",
        "name": "POI-File",
        "filename": "C:\\Users\\gibel\\IdeaProjects\\MiddlewareTech2022\\Project1-Node-Red\\POI.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 300,
        "y": 420,
        "wires": [
            [
                "616704693c60b333"
            ]
        ]
    },
    {
        "id": "45cd5662ef16f4fd",
        "type": "function",
        "z": "e5ba676816adcdd0",
        "name": "",
        "func": "noises = [];\n\nfor(i=0; i<6; i++){\n    noises.push(Math.random()*90 + 50);\n}\n\nm = {\n    topic : \"POI\",\n    payload : {\n        x:  41.87 + Math.random()*0.04,\n        y:  12.46 + Math.random()*0.04,\n        noise:  noises,\n    },\n    timestamp:  Date.now()\n};\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "50dd3aed9dcc3133"
            ]
        ]
    },
    {
        "id": "dd02ba46497421ce",
        "type": "inject",
        "z": "e5ba676816adcdd0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "45cd5662ef16f4fd"
            ]
        ]
    },
    {
        "id": "0bed2cdf12581746",
        "type": "debug",
        "z": "e5ba676816adcdd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "123edeeb386369a2",
        "type": "function",
        "z": "e5ba676816adcdd0",
        "name": "Select message attributes",
        "func": "kafkaObject = msg.payload;\nsplitPayload = kafkaObject.value.split(\",\");\ntimestamp = new Date(Number(splitPayload[1]));\n\ncleanMsg = {\n    topic : msg.topic,\n    key : kafkaObject.key,\n    timestamp : timestamp.toLocaleString(),\n    value : splitPayload[0],\n}\n\nreturn cleanMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "cc988fd83ba76952"
            ]
        ]
    },
    {
        "id": "cc988fd83ba76952",
        "type": "function",
        "z": "e5ba676816adcdd0",
        "name": "Convert for csv",
        "func": "let pld = msg.key + \",\";\npld = pld + msg.timestamp + \",\";\npld = pld + msg.value;\n\n// if (payload.avgNoise){\n//     payload.noise = payload.avgNoise;\n// }\n// newPayload = payload.POIName;\n// ts = new Date(payload.timestamp);\n// newPayload = newPayload + \",\" + ts.toUTCString();\n// for (let i = 0; i < payload.noise.length; i++){\n//     newPayload = newPayload + \",\" + payload.noise[i];\n// }\n\nnewMsg = {\n    payload : pld\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 580,
        "wires": [
            [
                "7528268e7d0a6c88"
            ]
        ]
    },
    {
        "id": "7528268e7d0a6c88",
        "type": "file",
        "z": "e5ba676816adcdd0",
        "name": "Write input to csv",
        "filename": "C:\\tmp\\input.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 910,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a2c4fd7c68509559",
        "type": "function",
        "z": "e5ba676816adcdd0",
        "name": "",
        "func": "payload = JSON.parse(msg.payload);\nnewPayload = msg._kafka.key;\nts = new Date(payload.timestamp);\nnewPayload = newPayload + \",\" + ts.toUTCString();\nnewPayload = newPayload + \",\" + payload.avgNoise;\n\n\nnewMsg = {\n    payload : newPayload\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 740,
        "wires": [
            [
                "9e9ced8385b03f6e"
            ]
        ]
    },
    {
        "id": "9e9ced8385b03f6e",
        "type": "file",
        "z": "e5ba676816adcdd0",
        "name": "Write input to csv",
        "filename": "C:\\tmp\\2minslide1.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 890,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "561deb6db218b754",
        "type": "function",
        "z": "e5ba676816adcdd0",
        "name": "Select message attributes",
        "func": "kafkaObject = msg.payload;\nsplitPayload = kafkaObject.value.split(\",\");\ntimestamp = new Date(Number(splitPayload[1]));\n\ncleanMsg = {\n    topic : msg.topic,\n    poi : kafkaObject.key,\n    timestamp : timestamp.toLocaleString(),\n    value : splitPayload[0],\n}\n\nreturn cleanMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 640,
        "wires": [
            [
                "0bed2cdf12581746"
            ]
        ]
    },
    {
        "id": "661e8e509bb97151",
        "type": "kafkajs-consumer",
        "z": "e5ba676816adcdd0",
        "name": "KafkaJS Input Consumer",
        "client": "ddca50d356b3a3e7",
        "groupid": "",
        "topic": "nodered-input",
        "advancedoptions": true,
        "autocommitinterval": 5000,
        "autocommitthreshold": 100,
        "sessiontimeout": 30000,
        "rebalancetimeout": 60000,
        "heartbeatinterval": 3000,
        "metadatamaxage": 300000,
        "maxbytesperpartition": 1048576,
        "minbytes": 1,
        "maxbytes": 10485760,
        "maxwaittimeinms": 5000,
        "frombeginning": false,
        "clearoffsets": false,
        "allowautotopiccreation": true,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "123edeeb386369a2"
            ]
        ]
    },
    {
        "id": "f0cfd62e795253c5",
        "type": "kafkajs-consumer",
        "z": "e5ba676816adcdd0",
        "name": "KafkaJS Input Consumer",
        "client": "ddca50d356b3a3e7",
        "groupid": "",
        "topic": "test-fiveMin",
        "advancedoptions": true,
        "autocommitinterval": 5000,
        "autocommitthreshold": 100,
        "sessiontimeout": "30002",
        "rebalancetimeout": 60000,
        "heartbeatinterval": 3000,
        "metadatamaxage": 300000,
        "maxbytesperpartition": 1048576,
        "minbytes": 1,
        "maxbytes": 10485760,
        "maxwaittimeinms": 5000,
        "frombeginning": false,
        "clearoffsets": false,
        "allowautotopiccreation": true,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "561deb6db218b754"
            ]
        ]
    },
    {
        "id": "5096fb816ad92345",
        "type": "kafkajs-producer",
        "z": "e5ba676816adcdd0",
        "name": "KafkaJS Input Producer",
        "client": "ddca50d356b3a3e7",
        "topic": "nodered-input",
        "advancedoptions": true,
        "acknowledge": "all",
        "partition": "",
        "headeritems": {},
        "key": "",
        "responsetimeout": 30000,
        "transactiontimeout": 60000,
        "metadatamaxage": 300000,
        "allowautotopiccreation": true,
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "c159cb74bc37f656",
        "type": "mqtt in",
        "z": "e5ba676816adcdd0",
        "name": "MQTT MPI simulation",
        "topic": "testproject12345",
        "qos": "0",
        "datatype": "json",
        "broker": "1425cd6007df2372",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "277148a447b143f8"
            ]
        ]
    },
    {
        "id": "277148a447b143f8",
        "type": "function",
        "z": "e5ba676816adcdd0",
        "name": "",
        "func": "msg.topic = 'POI';\nmsg.timestamp = msg.payload.timestamp;\nreturn  msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "50dd3aed9dcc3133"
            ]
        ]
    },
    {
        "id": "182cb7d3fdae3c69",
        "type": "debug",
        "z": "e5ba676816adcdd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "ddca50d356b3a3e7",
        "type": "kafkajs-client",
        "name": "Test Client",
        "brokers": "127.0.0.1:9092",
        "clientid": "384",
        "connectiontimeout": "3000",
        "requesttimeout": "25000",
        "advancedretry": false,
        "maxretrytime": "30000",
        "initialretrytime": "300",
        "factor": "0.2",
        "multiplier": "2",
        "retries": "5",
        "auth": "none",
        "tlsselfsign": false,
        "tlscacert": "",
        "tlsclientcert": "",
        "tlsprivatekey": "",
        "tlspassphrase": "",
        "saslssl": true,
        "saslmechanism": "plain",
        "loglevel": "error"
    },
    {
        "id": "1425cd6007df2372",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.neslab.it",
        "port": "3200",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]