Project1-Node-Red/ReadData.json
[
    {
        "id": "71728e5c9f647663",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "18dcd229b5ea6105",
        "type": "function",
        "z": "71728e5c9f647663",
        "name": "",
        "func": "var i = context.get(\"count\");\nvar newMsg;\nif(msg.payload==\"Running\"){\n    var m = context.get(\"msg\");\n    if(i<m.payload.length){\n        newMsg = {payload : m.payload[i]};\n        i++;\n        context.set(\"count\", i);\n        return newMsg;\n    }\n}\nelse{\n    if(i<msg.payload.length){\n        context.set(\"msg\", msg);\n        return;\n    }\n}\nreturn {payload : \"End Of File\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"count\", 0);",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "8b66320a55b72836"
            ]
        ]
    },
    {
        "id": "cde7f5a39534ad38",
        "type": "csv",
        "z": "71728e5c9f647663",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "18dcd229b5ea6105"
            ]
        ]
    },
    {
        "id": "55a9fa1f30c1fa84",
        "type": "inject",
        "z": "71728e5c9f647663",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "9fb93060d42ecd20"
            ]
        ]
    },
    {
        "id": "9fb93060d42ecd20",
        "type": "file in",
        "z": "71728e5c9f647663",
        "name": "Data-File",
        "filename": "C:\\Users\\franc\\Documents\\MiddlewareTech\\MiddlewareTech2022\\Node-Red\\prova.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "cde7f5a39534ad38"
            ]
        ]
    },
    {
        "id": "7f25e57e26c64370",
        "type": "inject",
        "z": "71728e5c9f647663",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Running",
        "payloadType": "str",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "18dcd229b5ea6105"
            ]
        ]
    },
    {
        "id": "8b66320a55b72836",
        "type": "debug",
        "z": "71728e5c9f647663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 240,
        "wires": []
    }
]